<footer class="page-footer teal lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Informations</h5>
                <ul>
                    <li><a class="grey-text text-lighten-4" href="pagedegarde.php">Qu'est-ce que CommentFaire.fr</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">© 2019 Copyright Text</div>
        <div class="container center">
            <a href="[https://www.esiea.fr/"] target="_blank"><img src="../../../../ressources/images/ESIEA_logo.png" border=0 width=90 height=40></a>
        </div>
    </div>
</footer>